<div id="cellTemplate" hidden>
  <div class="cell">
    <div class="cellDisk"></div>
  </div>
</div>
<div>
  <h1 *ngIf="yourTurn">It's your turn </h1>
  <h1 *ngIf="!yourTurn">It's not your turn </h1>
</div>
<div class="container align-content-center">
  <div class="row mt-4">
    <div class="col-md-8 mb-4">
      <div id="board" class="col-md-12" style="width: 700px; margin: auto">

      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="col-md-12" style="width: 700px; margin: auto">
        <div style="width: 100%; height: 100px; background-color: yellow">
          <h1>Questa è una chat</h1>
        </div>
      </div>
    </div>
  </div>
</div>
