<div id="cellTemplate" hidden>
  <div class="cell">
    <div class="cellDisk"></div>
  </div>
</div>

<div class="container text-light">
  <h1 *ngIf="match && match.turn === 0 && match.winner.player === null" class="h1 mb-0 d-flex justify-content-center">
    <div class="mr-2" style="height: 1em; width: 1em; background-color: red; border: solid black 1px; border-radius: 100%"></div>
    <b>{{username0}}</b>'s turn
  </h1>
  <h1 *ngIf="match && match.turn === 1 && match.winner.player === null" class="h1 mb-0 d-flex justify-content-center">
    <div class="mr-2" style="height: 1em; width: 1em; background-color: yellow; border: solid black 1px; border-radius: 100%"></div>
    <b>{{username1}}</b>'s turn
  </h1>
  <h1 *ngIf="match && match.winner.player !== null && match.winner.player === 0" class="h1 mb-0 d-flex justify-content-center">
    <div class="mr-2" style="height: 1em; width: 1em; background-color: red; border: solid black 1px; border-radius: 100%"></div>
    <b> {{username0}} is the winner</b>
  </h1>
  <h1 *ngIf="match && match.winner.player !== null && match.winner.player === 1" class="h1 mb-0 d-flex justify-content-center">
    <div class="mr-2" style="height: 1em; width: 1em; background-color: yellow; border: solid black 1px; border-radius: 100%"></div>
    <b> {{username1}} is the winner</b>
  </h1>
</div>

<div class="container align-content-center">
  <div class="row mt-4">
    <div class="col-md-8 mb-4">
      <div id="board" class="col-md-12" style="width: 700px; margin: auto">

      </div>
      <div *ngIf="match.winner.player !== null" class="w-100 d-flex justify-content-center">
        <button class="btn btn-primary mt-4" (click)="replay()">Replay</button>
      </div>
    </div>
    <div *ngIf="canViewMessages" class="col-md-4 mb-4 h-100">

      <div class="col-md-12">
        <div class="w-100" style="height: 75vh">
          <app-messages *ngIf="matchChat !== null" [chat]="matchChat"></app-messages>
        </div>
      </div>

    </div>
  </div>
</div>
