<div class="container-fluid bg-dark rounded p-1 h-100 d-flex" style="flex-direction: column">
  <div class="w-100 bg-primary rounded me-2">
    <h1 class="text-center p-1 m-0">{{chatTitle}}</h1>
  </div>

  <div class="d-flex justify-content-between h-100 overflow-auto" style="flex-direction: column-reverse">
    <div>
      <div *ngFor="let message of chat.messages" class="card m-2 mt-1 p-2 w-75 bg-primary rounded" [ngClass]="{'float-end': message.sender === userMail, 'float-start': message.sender !== userMail}">
        <b class="mb-1">{{message.sender}}</b>
        {{message.text}}
        <small class="small text-secondary text-right">{{message.timestamp | date: 'dd MMM, HH:mm'}}</small>
      </div>
    </div>
  </div>

  <div class="w-100 d-flex justify-content-center" style="justify-content: flex-start">
    <input #message type="text" class="form-control rounded-pill pe-6" (keydown.enter)="sendMessage(message)">
    <button class="btn btn-info rounded-circle ms-2 sendButton" (click)="sendMessage(message)"><i class="fas fa-arrow-right"></i></button>
  </div>

</div>

