<form class="form-signin" (ngSubmit)="register()">
  <div class="text-center">
    <img src="/assets/img/logo.png" alt="logo just4fun" style="max-height: 50px; max-width: 95%">
  </div>
  <h4 *ngIf="!isModeratorRegistration" class="mb-3 mt-3 font-weight-normal text-white" style="text-align: center;">Sign up</h4>
  <h4 *ngIf="isModeratorRegistration" class="mb-3 mt-3 font-weight-normal text-white" style="text-align: center;">Complete registration</h4>

  <div>
    <input [(ngModel)]="email" type="email" name="email"  maxlength="200" required="" class="my-form-control form-control" [disabled]="isModeratorRegistration" [ngClass]="{'is-invalid' : errorMessage}" placeholder="E-mail">
    <input [(ngModel)]="username" type="text" name="username"  maxlength="200" required="" class="my-form-control form-control" [ngClass]="{'is-invalid' : errorMessage}" placeholder="Username">

    <input [(ngModel)]="oldPassword" *ngIf="isModeratorRegistration" type="password" name="oldPassword" required="" class="my-form-control form-control" [ngClass]="{'is-invalid' : errorMessage}" placeholder="Old Password">

    <input [(ngModel)]="password" type="password" name="password" required="" class="my-form-control form-control" [ngClass]="{'is-invalid' : errorMessage}" placeholder="Password">
    <input [(ngModel)]="password2" type="password" name="password2" required="" class="my-form-control form-control" [ngClass]="{'is-invalid' : errorMessage}" placeholder="Repeat Password">
  </div>

  <h5 class="mb-0"><label class="text-white mb-0 text-center w-100">Select Avatar</label></h5>
  <app-user-change-avatar (imageCroppedEmitter)="imageCropped($event)"></app-user-change-avatar>

  <p class="text-danger" *ngIf="errorMessage" >{{ errorMessage }}</p>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  <p class="text-center nav-link"><a href="http://localhost:4200/login">Already have an account? Log in!</a></p>

</form>
