<form class="form-signin" (ngSubmit)="register()">
  <div class="text-center">
    <h1>Just4Fun</h1>
  </div>
  <h4 class="mb-3 mt-3 font-weight-normal" style="text-align: center;">Login</h4>
  <div>
    <input [(ngModel)]="email" type="email" name="email"  maxlength="200" required="" class="my-form-control form-control" [ngClass]="{'is-invalid' : errorMessage}" placeholder="E-mail">
    <input [(ngModel)]="username" type="text" name="email"  maxlength="200" required="" class="my-form-control form-control" [ngClass]="{'is-invalid' : errorMessage}" placeholder="Username">
    <input [(ngModel)]="password" type="password" name="password" required="" class="my-form-control form-control" [ngClass]="{'is-invalid' : errorMessage}" placeholder="Password">
    <input [(ngModel)]="password2" type="password" name="password2" required="" class="my-form-control form-control" [ngClass]="{'is-invalid' : errorMessage}" placeholder="Repeat Password">
  </div>
  <p class="text-danger" *ngIf="errorMessage" >{{ errorMessage }}</p>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>
