<form (ngSubmit)="changePassword()">
  <div class="row col-sm-12">
    <p class="text-white">Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly</p>
  </div>

  <div class="row col-sm-12">
    <label for="id_old_password" class="text-white">Old password</label>
  </div>
  <div class="row col-md-4">
    <input [(ngModel)]="oldPassword" class="my-form-control form-control" type="password" name="old_password" autofocus="" required="" id="id_old_password">
  </div>
  <div style="height: 25px;"></div>

  <div class="row col-sm-12">
    <label class="text-white" for="id_new_password1">New password</label>
  </div>
  <div class="row col-md-4">
    <input [(ngModel)]="password" class="my-form-control form-control" type="password" name="new_password1" required="" id="id_new_password1">
  </div>
  <div style="height: 10px;"></div>

  <div class="row col-md-12">
    <label class="text-white" for="id_new_password2">New password confirmation:</label>
  </div>
  <div class="row col-md-4">
    <input [(ngModel)]="password2" class="my-form-control form-control" type="password" name="new_password2" required="" id="id_new_password2">
  </div>
  <div style="height: 25px;"></div>

  <p class="text-danger" *ngIf="errorMessage" >{{ errorMessage }}</p>
  <div class="row col-sm-12">
    <button type="submit" class="btn btn-primary">Change Password</button>
  </div>
</form>
