<div class="container-fluid d-flex" style="height: 85vh">
  <div class="container-fluid h-100 w-25 ml-n2 bg-dark overflow-auto rounded">

    <div class="w-100 d-flex justify-content-center mt-3 mb-2">
      <button type="button" class="btn btn-primary p-2" data-toggle="modal" data-target="#friendsModal"> New chat </button>
    </div>

    <div class="w-100 d-flex justify-content-center mt-3 mb-2">
      <small class="text-secondary"> Chats </small>
    </div>
    <div *ngIf="!isLoading.chats">
      <div *ngFor="let chat of chats; index as i" class="card mt-2 p-2 hoverable" style="cursor: pointer" (click)="onChatSelect(i)">
        <b class="mb-1 text-center"> {{chat.members[0] == userMail ? chat.members[1] : chat.members[0]}} </b>
        <div *ngIf="chat.messages.length > 0" class="d-flex justify-content-between">
          <small class="message-preview">{{chat.messages[chat.messages.length-1].sender}}:  <span class="text-secondary"> {{chat.messages[chat.messages.length-1].text}} </span></small>

          <div class="h-100">
            <small class="small text-secondary text-right h-100" style="font-size: 0.5em; bottom: 0"> {{chat.messages[chat.messages.length-1].timestamp | date: 'HH:mm'}} </small>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="container h-100 w-75 bg-dark rounded p-1 ">
    <app-messages *ngIf="selectedChat !== null" [chat]="selectedChat"></app-messages>
    <div *ngIf="selectedChat === null" class="h1 text-center text-secondary mt-3"> You have no chats at the moment </div>
  </div>

</div>

<div class="modal fade" id="friendsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select a friend</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div *ngFor="let friend of friends" class="card mt-2 p-2 hoverable" style="cursor: pointer" (click)="createChat(friend)" data-dismiss="modal">
          <b class="mb-1 text-center"> {{friend}} </b>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light border-danger text-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
