<div class="row" style="height: 85vh">
  <div *ngIf="!isLoading.chats" class="col-12 col-sm-4 h-100 bg-dark overflow-auto rounded">

    <div class="row align-items-center">
      <div class="col"></div>
      <div class="col text-center"><h5 class="m-0 text-white">Chats</h5></div>
      <div class="col">
        <button type="button" [disabled]="!friends || friends.size == 0" class="btn btn-info float-end" data-bs-toggle="modal" data-bs-target="#newChatModal">New chat</button>
      </div>
    </div>

    <div *ngIf="!isLoading.chats">
      <div *ngFor="let chat of chats; index as i" class="card mt-2 p-2 hoverable bg-primary" style="cursor: pointer" (click)="onChatSelect(i)">
        <b class="mb-1 text-center"> {{chat.members[0] == userMail ? chat.members[1] : chat.members[0]}} </b>
        <div *ngIf="chat.messages.length > 0" class="d-flex justify-content-between">
          <small class="message-preview">{{chat.messages[chat.messages.length-1].sender}}:  <span class="text-white"> {{chat.messages[chat.messages.length-1].text}} </span></small>

          <div class="h-100">
            <small class="small text-secondary text-right h-100" style="font-size: 0.5em; bottom: 0"> {{chat.messages[chat.messages.length-1].timestamp | date: 'HH:mm'}} </small>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div *ngIf="isLoading.chats" class="col-12 col-sm-4 h-100 bg-dark">
    <div class="bg-dark rounded h-100 loading">
    </div>
  </div>

  <div class="col-12 col-sm-8 h-100 bg-dark rounded p-1">
    <app-messages *ngIf="selectedChat !== null" [chat]="selectedChat"></app-messages>
    <div *ngIf="selectedChat === null && !isLoading.chats" class="h1 text-center text-secondary mt-3"> You have no chats at the moment </div>
    <div *ngIf="isLoading.chats" class="h1 text-center text-secondary mt-3"> Loading... </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="newChatModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select a friend</h5>
      </div>
      <div class="modal-body">

        <div *ngFor="let friend of friends" class="card bg-dark mt-2 p-2 hoverable" style="cursor: pointer" (click)="createChat(friend)" data-bs-dismiss="modal">
          <b class="mb-1 text-center"> {{friend}} </b>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
