a{
  text-decoration: none;
  cursor: auto;
  color: black;
}

.hoverable{
  transition: 0.3s;
}
.hoverable:hover{
  opacity: 0.75;
}

.cell {
  display: block;
  width: 100%;
  height: auto;
  padding: 2px;
  background-color: #4444ff;
}

.board-column{
  width: 40px;
}
