<div id="cellTemplate" hidden>
  <div class="cell">
    <div class="cellDisk"></div>
  </div>
</div>

<div class="row mb-5">
  <div class="col-12 text-center align-self-center" style="padding: 0">
    <img src="/assets/img/logo.png" alt="logo just4fun" style="max-height: 50px; max-width: 95%">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 mb-4">
      <div class="col-md-12 bg-dark rounded p-3">

        <h2 class="h2 text-center text-light mb-3">Live matches</h2>

        <div class="row row-cols-2">

          <a *ngFor="let match of randomMatches; index as i; let last = last" href="/match/{{match._id}}" class="col-6">
            <div class="card mb-3" style="cursor: pointer">
              <div class="card-header">
                <h5 class="card-title text-left mb-0 d-flex">
                  <div class="mr-2" style="height: 1em; width: 1em; background-color: red; border: solid black 1px; border-radius: 100%"></div>
                  {{match.player0}}
                </h5>
                <h5 class="card-title text-center m-0"> vs </h5>
                <h5 class="card-title text-left mt-0 d-flex">
                  <div class="mr-2" style="height: 1em; width: 1em; background-color: yellow; border: solid black 1px; border-radius: 100%"></div>
                  {{match.player1}}
                </h5>
              </div>
              <div class="card-body">
                <div id="mini-board-{{i}}" style="width: 80% ; margin: auto; background-color: #dddddd">

                </div>
              </div>
              <div class="card-footer">
                <small class="text-muted"> Started on: {{match.matchStart | date:'M/d/yy, HH:mm'}}</small>
              </div>
            </div>
            {{ngForCallback(last)}}
          </a>
        </div>

      </div>
    </div>

    <div class="col-md-4">
      <div class="col-md-12 bg-dark rounded p-3">
        <h2 class="h2 text-center text-light mb-3">Leaderboard</h2>

        <ul *ngFor="let user of leaderboard; index as i" class="list-group list-group-horizontal-sm mb-1">
          <li class="list-group-item w-25 leaderboard-position text-center"> {{i+1}} </li>
          <li class="list-group-item d-flex justify-content-between align-items-center w-75">
            {{user.username}}
            <span class="badge bg-primary rounded-pill text-light"> {{user.points}} </span>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>


<div class="row justify-content-center" hidden>
  <button class="btn btn-lg btn-primary m-1"> Start new game </button>
  <button class="btn btn-lg btn-primary m-1"> test button </button>
</div>
