<div class="row mb-5">
  <div class="col-12 text-center align-self-center" style="padding: 0">
    <img src="/assets/img/logo.png" alt="logo just4fun" style="max-height: 50px; max-width: 95%">
  </div>
</div>

<div class="container">
  <div class="row" style="height: 100px">
    <div class="col-md-8">
      <div class="col-md-12 bg-dark rounded p-3">
        <h2 class="h2 text-center text-light mb-3">Live matches</h2>

        <div class="card-deck">
          <!-- TODO: usare ngFor o altre cose da component -->
          <div class="card text-dark">
            <div class="card-header">
              <h5 class="card-title text-left">username3</h5>
              <h5 class="card-title text-center">vs</h5>
              <h5 class="card-title text-right">username4</h5>
            </div>
            <div class="card-body">
              <img src="...">
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card text-dark">
            <div class="card-header">
              <h5 class="card-title text-left">username3</h5>
              <h5 class="card-title text-center">vs</h5>
              <h5 class="card-title text-right">username4</h5>
            </div>
            <div class="card-body">
              <img src="...">
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="col-md-4">
      <div class="col-md-12 bg-dark rounded p-3">
        <h2 class="h2 text-center text-light mb-3">Leaderboard</h2>

        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>

      </div>
    </div>
  </div>
</div>
