<div class="text-center">
  <h1>Just4Fun</h1>
</div>
<div class="">
  <div class="d-flex justify-content-center">
    <button class="btn btn-lg btn-primary m-1"> Start new game </button>
    <button class="btn btn-lg btn-primary m-1"> test button </button>
  </div>
</div>

<!-- su: Campa, giu: non lo so -->

<div class="row mb-5">
  <div class="col-12 text-center align-self-center" style="padding: 0">
    <img src="/assets/img/logo.png" alt="logo just4fun" style="max-height: 50px; max-width: 95%">
  </div>
</div>

<p>Home!</p>
<div>

</div>
