<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary shadow">
    <a class="align-items-center d-flex justify-content-center me-2 ms-2" href="/">
      <img src="/assets/img/logo.png" alt="logo just4fun" style="max-height: 24px; margin-bottom: auto">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLinkActive="text-white" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Home page</a>
        </li>
      </ul>
      <ul *ngIf="userService.isLoggedIn" class="navbar-nav me-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLinkActive="text-white" routerLink="/profile" [routerLinkActiveOptions]="{exact: true}">Profile</a>
        </li>
      </ul>

      <ul *ngIf="userService.isLoggedIn" class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="/notifications">
            <img src="assets/img/bell.svg" height="20em" class="m-0 p-0">
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: #fff;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b>{{ userService.username }}</b>
          </a>
          <div class="dropdown-menu dropdown-menu-end p-2" aria-labelledby="navbarDropdown">
            <a class="dropdown-item mb-1 rounded" href="/changePassword">Change Password</a>
            <a class="dropdown-item rounded onFocusDanger" href="/logout">Logout</a>
          </div>
        </li>

      </ul>

    </div>

    <ul *ngIf="!userService.isLoggedIn" class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-sm btn-secondary nav-link" href="/login" style="margin-right: 10px;">Login</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-sm btn-info nav-link" href="/register" style="margin-right: 10px;">Sign Up</a>
      </li>
    </ul>

  </nav>
</header>
