<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary shadow">
    <a class="navbar-brand" href="/">Just4Fun</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/">Home page</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/login">Page 2</a>
        </li>
      </ul>

      <ul *ngIf="userService.isLoggedIn" class="navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: #fff;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b>{{ userService.username }}</b>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item onFocusDanger" href="/logout">Logout</a>
          </div>
        </li>
      </ul>
      <ul *ngIf="!userService.isLoggedIn" class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="btn btn-sm btn-light nav-link" href="/login" style="color:#000000; margin-right: 10px;">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-sm btn-dark nav-link" href="/register" style="color:#ffffff; margin-right: 10px;">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
