<div class="container row mb-4">

  <div class="col col-5">
    <div class="col-12 bg-dark p-3 rounded text-light d-flex">
      <img src="{{user.avatar}}" class="rounded-circle w-50 mr-3" alt="user profile image">
      <div class="h-auto w-100 d-flex flex-wrap align-items-center">

        <div class="w-100">
          <h3 class="h3 text-center "> {{user.username}} </h3>
          <h3 class="h3 text-center rounded-pill bg-primary"> {{user.points}} </h3>
        </div>

      </div>
    </div>
  </div>

  <div class="col col-7">
    <div class="col-12 bg-dark p-3 rounded text-light h-100">

      <h3 class="h3 text-center"> Quick actions </h3>

      <div class="row row-cols-3">

        <div class="col">
          <button type="button" class="btn btn-primary col p-3">
            <img src="assets/img/person-plus.svg" class="bi bi-person-plus">
          </button>
        </div>

        <div class="col">
          <button type="button" class="btn btn-primary col p-3">
            <img src="assets/img/person-plus.svg" class="bi bi-person-plus">
          </button>
        </div>

        <div class="col">
          <button type="button" class="btn btn-primary col p-3">
            <img src="assets/img/person-plus.svg" class="bi bi-person-plus">
          </button>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="container row mb-4">

  <div class="col col-6">
    <div class="col-12 bg-dark p-3 rounded text-light">

      <h3 class="h3 text-center"> Ongoing matches </h3>

      <ul *ngFor="let match of ongoingMatches; index as i" class="list-group list-group-horizontal-sm mb-1">
        <li class="p-0 list-group-item d-flex justify-content-between align-items-center w-100 text-dark rounded">

          <div class="m-3">
            <h6 class="card-title text-left mb-0 d-flex">
              <div class="mr-2" style="height: 1em; width: 1em; background-color: red; border: solid black 1px; border-radius: 100%"></div>
              {{match.player0}}
            </h6>
            <h6 class="card-title text-left mb-0 d-flex">
              <div class="mr-2" style="height: 1em; width: 1em; background-color: yellow; border: solid black 1px; border-radius: 100%"></div>
              {{match.player1}}
            </h6>
          </div>

          <h5 *ngIf="(match.turn == 0 && match.player0 == user.email) || (match.turn == 1 && match.player1 == user.email)" class="h6 w-25 m-0 text-center">Your turn</h5>
          <h5 *ngIf="(match.turn == 0 && match.player0 != user.email) || (match.turn == 1 && match.player1 != user.email)" class="h6 w-25 m-0 text-center">Their turn</h5>

        </li>
      </ul>

    </div>
  </div>

  <div class="col col-6">
    <div class="col-12 bg-dark p-3 rounded text-light h-100 ">

      <h3 class="h3 text-center"> Finished matches</h3>


    </div>
  </div>
</div>

<div class="container row">
  <div class="col-12">

    <div class="col-12 bg-dark p-3 rounded text-light h-100 position-relative">
      <!-- TODO: mettere la navigazione con freccette -->
      <div class="row position-relative">
        <div class="col blur h-100 w-100">
          <h2 class="h2 text-center"> Statistics </h2>
          <h4>Never gonna give you up, never gonna let you down, never gonna run around and desert you</h4>
        </div>
        <div class="col position-absolute h-100">
          <h4 class="h4 text-center text-danger bg-dark shadow"> <b>Statistics for this user are not visible because they are not your friend</b> </h4>
        </div>
      </div>

    </div>

  </div>
</div>
