.blur{
  -webkit-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

a{
  text-decoration: none;
  cursor: auto;
  color: black;
}

.hoverable{
  transition: 0.3s;
}
.hoverable:hover{
  opacity: 0.75;
}

h1, h2, h3, h4, h5, h6, p{
  text-shadow: 0 0;
}

